[submodule "openlayers"]
	path = openlayers
	url = https://github.com/openlayers/openlayers.git
[submodule "geoext"]
	path = geoext
	url = https://github.com/geoext/geoext.git
[submodule "gxp"]
	path = gxp
	url = https://github.com/camptocamp/gxp.git
