[submodule "openlayers"]
	path = openlayers
	url = https://github.com/openlayers/ol2.git
[submodule "geoext"]
	path = geoext
	url = https://github.com/geoext/geoext.git
[submodule "gxp"]
	path = gxp
	url = https://github.com/boundlessgeo/gxp.git
[submodule "styler"]
	path = styler
	url = https://github.com/georchestra/styler.git
[submodule "openlayers.addins/URLCompressed"]
	path = openlayers.addins/URLCompressed
	url = https://github.com/sbrunner/OpenLayers-URLCompressed.git
[submodule "core/tests/lib/jasmine"]
	path = core/tests/lib/jasmine
	url = https://github.com/pivotal/jasmine.git
[submodule "dygraphs/dygraphs/dygraphs"]
	path = dygraphs/dygraphs/dygraphs
	url = https://github.com/danvk/dygraphs.git
[submodule "proj4js/proj4js"]
	path = proj4js/proj4js
	url = https://github.com/proj4js/proj4js.git
[submodule "openlayers.addins/DynamicMeasure"]
	path = openlayers.addins/DynamicMeasure
	url = https://github.com/jorix/OL-DynamicMeasure.git
