html, body {
    background-color: white;
    font-family: tahoma, arial, verdana, sans-serif;
    font-size: 12px;
    margin: 0 !important;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
div#header-out {
    position: relative;
    z-index: 20001;
}
.app-accordion-body {
    padding: 3px;
}
.x-toolbar .maxExtent {
    background: url('img/map_magnify.png') top left no-repeat;
}
.x-toolbar .mapZoomIn {
    background: url('img/zoom_in.png') top left no-repeat;
}
.x-toolbar .mapZoomOut {
    background: url('img/zoom_out.png') top left no-repeat;
}
.x-toolbar .mapHistoryPrevious {
    background: url('img/arrow_left.png') top left no-repeat;
}
.x-toolbar .mapHistoryNext {
    background: url('img/arrow_right.png') top left no-repeat;
}

/* cgxp_disclaimer */
.disclaimer-ct {
    position: absolute;
    bottom: 30px;
    left: 10px;
    width: 300px;
}
.disclaimer-item {
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    font-size: 12px;
    margin: 5px 0 0;
    padding: 5px;
    width: 100%;
}

/* cgxp_measure */
.x-btn .cgxp-icon-measure-point, .x-menu-item .cgxp-icon-measure-point, .x-tree-node .cgxp-icon-measure-point {
    background-image: url('img/bullet_orange.png') !important;
}
.x-btn .cgxp-icon-measure-length, .x-menu-item .cgxp-icon-measure-length, .x-tree-node .cgxp-icon-measure-length {
    background-image: url(img/ruler.png) !important;
}
.x-btn .cgxp-icon-measure-area, .x-menu-item .cgxp-icon-measure-area, .x-tree-node .cgxp-icon-measure-area {
   background-image: url(img/ruler_square.png) !important;
}

.x-toolbar .permalink {
    background: url('img/permalink.png') top left no-repeat;
}
.x-toolbar .info {
    background: url('img/information.png') top left no-repeat;
}
.x-toolbar .help {
    background: url('img/help.png') top left no-repeat;
}
div.olControlScaleLine, div.olControlMousePosition, div.baseLayersOpacitySlider, div.olControlOverviewMapElement {
    background-color: #000000;
    color: #ffffff;
    font-size: 11px;
    bottom: 0;
}
div.olControlScaleLine, div.olControlMousePosition, div.baseLayersOpacitySlider {
    height: 26px;
    padding-top: 0;
    padding-bottom: 0;
}
div.olControlScaleLine {
    padding: 0 5px;
    line-height: 16px;
    -moz-border-radius: 0 0.4em 0 0;
    border-radius: 0 0.4em 0 0;
    left: 0;
}
div.olControlScaleLine div.olControlScaleLineTop {
    border: solid 2px white;
    border-top: none;
    margin-top: 5px;
}
div.olControlMousePosition {
    padding: 0 5px;
    right: 0;
    line-height: 26px;
    -moz-border-radius: 0.4em 0 0 0;
    border-radius: 0.4em 0 0 0;
}
div.baseLayersOpacitySlider {
    position: absolute;
    z-index: 1015;
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    -moz-border-radius: 0.4em 0.4em 0 0;
    border-radius: 0.4em 0.4em 0 0;
}
div.baseLayersOpacitySlider .opacityToolbar {
     background: none;
     border: 0;
}
.olControlAttribution {
    bottom: 5em;
    right: 1em;
}
.tools-baselayer-label {
    margin-right: 1em;
}
.layertree .layertree-bbar {
    background-color: transparent;
    background-image: none;
}
.gx-tree-layer-actions {
    float: right;
}
.gx-tree-layer-action {
    background-position: center center;
    background-repeat: no-repeat;
    border: 0 none;
    height: 16px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 16px;
    display: none;
}
.x-tree-node-over .gx-tree-layer-action {
    display: inline-block;
}
.gx-tree-layer-actions .up {
    background: transparent url(img/bullet_arrow_up.png);
}
.gx-tree-layer-actions .down {
    background: transparent url(img/bullet_arrow_down.png);
}
.gx-tree-layer-actions .metadata {
    background: transparent url(img/page_world.png) no-repeat;
    margin-right: 3px;
}
.gx-tree-layer-actions .opacity {
    background: transparent url(img/layer_opacity.png) no-repeat;
}
.gx-tree-layer-actions .delete {
    background: transparent url(img/layer_delete.gif) no-repeat center center;
}
.gx-tree-layer-actions .disabled {
    opacity: 0.2;
    filter: alpha(opacity=20);
}
.gx-tree-layer-actions .zoomtoscale {
    background: transparent url(img/magnifier--arrow.png) no-repeat;
    margin-right: 3px;
}
.x-tree-root-node li {
    padding: 4px 0;
    border-bottom: 1px solid #ddd;
}
.x-tree-root-node li li {
    padding: 0;
    border-bottom: 0;
}
.x-tree-node-theme {
    padding-top: 2px;
    font-weight: bold;
}
.x-tree-node-el {
    /* apparently mandatory for IE to correctly hide the components */
    border-bottom: 1px solid transparent;
}
.x-tree-node-el .no-icon {
    width: 0;
}
.x-tree-node-leaf .x-tree-node-icon {
    width: 20px;
}
.x-tree-node-leaf .x-tree-node-icon-wms {
    vertical-align: middle;
    height: 10px;
}
.gx-tree-node-loading {
    background: transparent url(img/loading.gif) no-repeat 75% 2px;
}
.x-tree-node .x-slider-horz {
    margin-left: 18px;
}
.gx-tree-layer-actions .legend {
    background: transparent url(img/legend.png) no-repeat;
    margin-right: 2px;
}
.gx-tree-layer-actions .legend-on {
    background: transparent url(img/legend-up.png) no-repeat;
}
.x-tree-node .gx-tree-layer-outofrange .x-tree-node-icon {
    opacity: 0.5;
}
.gx-tree-layer-outofrange .x-tree-node-anchor span {
    color: #777;
}

.styledCheckbox {
    height: 13px;
    width: 13px;
    filter: alpha(opacity=0.0);
    opacity: 0.0;
    outline: 0;
}

.styledCheckboxWrap {
    position: relative;
    background: url('img/checkboxes.gif') no-repeat top left;
    width: 13px;
    height: 13px;
    margin: 3px;
}

.wrapChecked{ background-position: 0px -13px; }

.wrapPartial{ background-position: 0px -26px; }

.toolwindow {
    border: 1px solid #D0D0D0;
    border-top: 0;
    padding: 2px;
    background-color: #F0F0F0;
}
.toolwindow .x-toolbar {
    background: none;
    border-width: 0 !important;
}

.loading {
    background-image: url(img/loading.gif) !important;
}

.opacityToolbar {
    background: white;
    border: 0;
}

.x-btn button.query {
    background: transparent url(img/cog_go.png);
}

div.external-documents div.x-panel-body {
    padding: 5px;
}

div.legend div.x-plain-tl {
    height: 15px;
}
div.legend img {
    display: block;
}
div.legend label {
    font-size: 1.2em;
    font-weight: bold;
}

.pdf-window .x-window-mc {
    font-weight: normal;
    text-align: center;
}
.pdf-window .x-window-mc .x-panel, .pdf-window .x-window-mc .x-panel-body {
    border: 0;
    background-color: transparent;
}
.pdf-window .x-window-mc .x-panel-body {
    padding: 5px;
}
.pdf-window .x-window-mc table {
    margin-left: auto;
    margin-right: auto;
}

/* theme selector */
.themes .x-btn-mc em {
    text-align: left;
}
.themes .x-btn-mc em button {
    font-weight: bold;
}
.themes .x-btn-text {
    background: url(img/map.png);
}
.theme-selector {
    background: white;
    font-size: 11px;
    font-family: tahoma,arial,verdana,sans-serif;
}
.theme-selector .thumb {
    background: #dddddd;
    padding: 3px;
}
.theme-selector .thumb img {
    height: 60px;
    width: 110px;
}
.theme-selector .thumb-wrap {
    float: left;
    margin: 4px;
    margin-right: 0;
    padding: 5px;
}
.theme-selector .thumb-wrap span {
    display: block;
    overflow: hidden;
    text-align: center;
}

.theme-selector .x-view-over {
    border:1px solid #dddddd;
    background-color: #efefef;
    padding: 4px;
}

.theme-selector .x-view-selected {
    background-color: #eff5fb;
    border: 1px solid #99bbe8;
    padding: 4px;
}

/* search */

.x-combo-list-group {
    background-color: #c9cffd;
    font-weight: bold;
    padding: 4px 0;
}
#search-tip ul {
    list-style-type: disc;
    margin-left: 15px;
}
#search-tip strong {
    font-weight: bold;
}

#search-tip em, #search-tip em strong {
    font-style: italic;
}

/* layertree legend */

.legend_level_1 {
    margin-left: 52px;
}
.legend_level_2 {
    margin-left: 66px;
}
.legend_level_3 {
    margin-left: 80px;
}
